.one-two{
    display: flex;
    border: 1px solid rgb(5, 5, 5);
    width: 1190px;
    height: 1810px;
    
}
.first{
    background-color: rgb(0, 0, 167);
    height: 1800px;
    width: 380px;
    color: rgb(255, 255, 255);
    margin-top: -20px;
    
}
.image{
    border: 1px solid black;
    border-radius: 500px;
    height: 150px;
    width: 150px;
    margin-left: 90px;
}
.first_p{
    margin-left: 20px;
}
.myname{
    margin-top: 20px;
    padding: 5px;
}
.first_name, h1{
      text-align: center;
      font-size: 50px;
      margin-top: 20px;
}
#name{
    display: flex;
}
#phone{
    display: flex;
}
#address{
    display: flex;
}
#git_link{
    display: flex;
}
#second_language{
    display: flex;
    margin-left: 25px;
}
.second_second_language{
    width: 2px;
}
.fa-regular{
 
    margin-right: 15px;
    margin-left: 30px;
}
#LANGUAGE{
     background-color: rgb(233, 228, 228);
    height: 5px;
    width: 150px;
    margin-left: 60px;
}
.ul_li{
    margin-left: 35px;
}
#skill{
    display: flex;
    margin-left: 25px;
}
#brain{
    background-color: rgb(233, 228, 228);
    height: 5px;
    width: 110px;
    margin-left: 60px;
}
.ui_li_li{
    margin-left: 35px;
}
#award{
    display: flex;
    margin-left: 25px;
}
.fa-solid{
    margin-top: 18px;
    margin-right: 5px;
    margin-left: 60px;
}
#fourth_award{
       background-color: rgb(233, 228, 228);
    height: 5px;
    width: 110px;
    margin-left: 68px;
}
.fourth_p{
    margin-left: 65px;
}
.two{
    background-color: rgb(254, 255, 255);
    border: 1px solid white;
    height: 1800px;
    width: 800px;
    margin-top: 20px;
}
#profile{
    display: flex;
    
}
.fa-solid{
    margin-top: 18px;
    margin-right: 15px;
    padding: 5px;
    
}
.two_profile{
     background-color: black;
    height: 5px;
    width: 148px;
    margin-left: 38px;
}
.profile_p{
    text-align: justify;
    margin-left: 40px;
}
#education{
    display: flex;
}
.fa-solid {
     margin-top: 18px;
    margin-right: 15px;
    margin-left: 30px;
}
.two_education{
        background-color: black;
    height: 5px;
    width: 160px;
    margin-left: 45px;
}
.education_p{
    margin-left: 40px;
}
.ttwo_div{
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
}
#ttwo_p{
    margin-right: 500px;
} 
.ttwo_div2{
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
}
#ttwo_p2{
    margin-right: 500px;
}
.ttwo_div3{
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
}
#ttwo_p3{
    margin-right: 500px;
}  
#activities{
    display: flex;
}
#tthree_activities{
     background-color: black;
    height: 5px;
    width: 450px;
    margin-left: 38px;
}
#tthree_ul{
    margin-left: 25px;
}
#project{
    display: flex;
}
#tfour_project{
      background-color: black;
    height: 5px;
    width: 140px;
    margin-left: 38px;
}
#cloud{
    display: flex;
}
#tfour_p{
    margin-left: 45px;
}
.cloud_p{
    margin-left: 15px;
}
#Scrap{
    display: flex;
}
.scrap_p{
    margin-left: 15px;
}
#refer{
    display: flex;
}
#tfive_ref{
    background-color: black;
    height: 5px;
    width: 160px;
    margin-left: 38px;
  
}
.tfive_p{
    margin-left: 45px;
}
